<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444754953540-cov5cg2lpevs9rokbp8d7fstum8bvq39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444754953540-cov5cg2lpevs9rokbp8d7fstum8bvq39</string>
	<key>API_KEY</key>
	<string>AIzaSyDoJJZr2E4AqLNOSsrMbr9SFj2T6xyTgOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>444754953540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smoothndesign.suividevente</string>
	<key>PROJECT_ID</key>
	<string>suivi-de-vente</string>
	<key>STORAGE_BUCKET</key>
	<string>suivi-de-vente.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444754953540:ios:1a8790b678f1df48f54311</string>
</dict>
</plist>